version: 2.1

jobs:
 build:
   machine:
    image: ubuntu-2204:2022.04.2
   steps:
     - checkout
     - run: docker --version
     - run: docker build -t simple-node .
     - run: docker tag simple-node thinhtpt/simple-node:latest
     - run: |
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          docker push thinhtpt/simple-node